.box {
  padding: 20px 30px;
}

table,
th,
td {
  padding: 10px 20px;
  text-align: center;
}

th {
  border-bottom: 1px solid rgb(163, 163, 163);
}

td {
  border-bottom: 1px solid black;

}

table {
  margin-top: 20px;
}

#att {
  background-color: rgb(15, 129, 228);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .1s;
}

#att:hover {
  background-color: rgb(14, 103, 180);
}

#dele {
  background-color: rgb(222, 74, 74);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .1s;
}

#dele:hover {
  background-color: rgb(189, 56, 56);
}

tbody>tr:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(94, 152, 227);
  color: grey;
}

#form {
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

h3 {
  margin: 20px 0;
  font-weight: normal;
  color: rgb(50, 50, 50);
}

.nav-btn {
  color: white;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(94, 152, 227);
  padding: 15px 40px;
  margin-bottom: 40px;
}

nav {
  display: flex;
  gap: 1.5rem;
  margin-left: 40px;
  font-size: 1.2rem;
}

#tittle {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 77, 112);
  font-weight: bold;
  padding: 0px 10px;
  cursor: default;
}

#span {
  font-weight: lighter;
  color: #fafafa;
}

#pes-text {
  padding: 0px 10px 0 50px;
  font-style: italic;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

#pesquisa-btn {
  padding: 5px 14px;
  background-color: rgb(94, 156, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-style: italic;
  transition: .1s;
}

#pesquisa-btn:hover {
  background-color: rgb(65, 121, 212);
}

.box {
  padding: 20px 50px;
}

table,
th,
td {
  padding: 10px 20px;
  text-align: center;
}

th {
  border-bottom: 1px solid rgb(163, 163, 163);
}

td {
  border-bottom: 1px solid black;

}

table {
  margin-top: 20px;
}

#att {
  background-color: rgb(15, 129, 228);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .1s;
}

#att:hover {
  background-color: rgb(14, 103, 180);
}

#dele {
  background-color: rgb(222, 74, 74);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .1s;
}

#dele:hover {
  background-color: rgb(189, 56, 56);
}

.cate-box {
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgb(195, 195, 195);
  color: rgb(40, 40, 40);
  border-radius: 5px;
  transition: .1s;
}

.cate-box:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(172, 172, 172);
}

.categorias {
  display: flex;
  gap: .5rem;
  align-items: center;
}

a {
  text-decoration: none;
}

tbody>tr:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
}

nav a {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  transition: .1s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
}