{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}

<div class="box">
    <div class="categorias">
        <h3 id="categ">Categorias: </h3>
        {% for categoria in categorias %}
        <a href="{% url 'exercicio.listar' categoria.categoria %}" class="cate-box">{{ categoria.categoria }}</a> <br />
        {% endfor %}
    </div>


    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Carga</th>
                <th>categoria</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for exercicio in exercicios %}
            <tr>
                <td>{{exercicio.nome}}</td>
                <td>{{exercicio.carga}}</td>
                <td>{{exercicio.categoria}}</td>
                <td>{{exercicio.data | date:"d/m/Y"}}</td>
                <td><a href="{% url 'exercicio.editar' exercicio.pk %}" id="att">Atualizar</a> | <a
                        href="{% url 'exercicio.deletar' exercicio.pk %}" id="dele">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>



{% endblock content%}